*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
nav{
    display: flex;
    height: 5vh;
    width: 100vw;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav h1{
    margin-left: 45px;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 35px;
    padding: 0 23px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
nav ul li{
    cursor: pointer;
    color: #eba014;
}
.main{
    height: 100vh;
    width: 100%;
    position: relative;
}
.bg-img{
    height: 86vh;
    width: 100%;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(0);
    -webkit-filter: blur(6px);
    position: absolute;
}
.main i {
    font-size: 40px;
}
.container{
    height: 7vh;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.btn{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.fill{
    width: 120%;
    height: 120%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: -50px;
    transition: all .5s ease 0s;
}
.icon{
    z-index: 1;
}
.btn:hover .fill{
    transform: translate(45px,-45px);
}
.btn:hover .icon{
    color: white;
}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn i{
    font-size: 25px;
}
.last{
    text-align: center;
    font-weight: 400;
}
.texts{
    backdrop-filter: blur(7px);
    background-color: rgba(255,255,255,0.5);
    height: 400px;
    width: 350px;
    position: absolute;
    left: 14%;
    top: 20%;
    border-radius: 29px;
}
.texts i{
    display: flex;
    justify-content: center;
    color: #eba014;
}
.texts h1{
    font-size: 40px;
    margin-top: 36px;
    color: #eba014;
    text-align: center;
}
.texts p{
    margin-top: 23px;
    padding: 15px 10px;
    text-justify: distribute-all-lines
}
.texts button{
    font-size: x-large;
    margin-top: 4rem ;
    padding: 15px 30px;
    position: relative;
    top: -43px;
    left: 12px;
    border: 0px solid black;
    border-radius: 9px;
    font-weight: bold;
    background-color: #e7a223;
    color: white;
    cursor: pointer;
    transition: transform 1s ease 0s,background-color 1s ease 0s,color 1s ease 0s;
}
.texts button:hover{
    transform: scale(1.05,1.05);
    background-color: grey;
    color: black;
}
.texts button a{
    text-decoration: none;
}
.texts button a:any-link{
    color: white;
}

/* last section and footer css completed */
.second{
    background-color: #e7a223;
    height: 100vh;
    display: flex;
}
.hiw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40%;
    margin: auto;
    background-color: whitesmoke;
}
.divs{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 45px;
    height: 250px;
    width: 57%;
}
.divvv ul li{
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    list-style-type: none;
}
.divvv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 21%;
}
.divvv img{
    height: 150px;
    width: 150px;
    overflow: hidden;
    transition: transform 0.5s ease 0s;
}
.divvv img:hover{
    transform: scale(1.3,1.3);
}
.hoimg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
#text{
    margin-bottom: 35px;
    margin-top: 24px;
}
#text h2{
    color: #9C8C;
    font-weight: 700;
    font-size: 31px;
    font-family: cursive;
}
