*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    gap: 20px;
    height: 30vh;
    width: 40%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.firstcontainer{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
    width: 100%;
    height: 100%;
    padding: 0 25px;
}
.firstcontainer div{
    height: 85px;
    width: 181px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
}
.subdiv1{
    background-color: pink;
}
.subdiv2{
    background-color: purple;
}
.subdiv3{
    background-color: coral;
}
.subdiv4{
    background-color: cadetblue;
}
.subdiv5{
    background-color: yellow;
}
