@media only screen and (max-width: 1026px){

    .navlist{
        flex-direction: column;
    }
    .navbar{
        height: 389px;
        flex-direction: column;
        transition: all .8s ease-out;
    }
    .navlist li{
        padding: 14px 0px;
        border-right: 0px solid white;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
        margin: 1px 1px 1px -8px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .firstsection{
        height: 100%;
    }
    .section{
        flex-direction: column-reverse;;
        margin: 0% 0% 0% 8%;
    }
    .section-left{
        flex-direction: column-reverse;
    }
    .paras{
        flex-direction: column-reverse;
        padding: 0px;
    }
    .text-small{
        text-align: center;
    }
    .box-main{
        max-width: 90%;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .logo img{
        width: 75px;
    }
    .learn-img{
        opacity: 100%;
    }
    .section-last{
        flex-direction: column-reverse;
    }
    .sectionsubtag{
        margin: 0;
    }
    .sectionsubtag-left{
        margin: 0;
    }
} 